* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Palatino Linotype';
    src: url('../font/palatinolinotype_roman.ttf') format('truetype');

    font-family: 'Literature Decor';
    src: url('../fonts/Literature-Decor.ttf') format('truetype');
}

:root {
    --palatino: "Palatino Linotype", sans-serif;
    --literature: "Literature Decor", sans-serif;
    --accent: #C6A48C;
    --dark-accent: #987861;
    --transition: color 0.3s ease, transform 0.3s ease;
    --background-color: #F3EFEE;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background-color);
}

section {
    padding: 0 clamp(2vw, 4vw + 1rem, 9vw);
}

.main {
    display: flex;
    gap: 100px;
    flex-direction: column;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

.checkMark {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent);
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid var(--accent);
}