* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'Palatino Linotype';
    src: url('../font/palatinolinotype_roman.ttf') format('truetype');

    font-family: 'Literature Decor';
    src: url('../fonts/Literature-Decor.ttf') format('truetype');
}

:root {
    --palatino: "Palatino Linotype", sans-serif;
    --literature: "Literature Decor", sans-serif;
    --accent: #C6A48C;
    --dark-accent: #987861;
    --transition: color 0.3s ease, transform 0.3s ease;
    --background-color: #F3EFEE;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background-color);
}

section {
    padding: 0 clamp(2vw, 4vw + 1rem, 9vw);
}

.main {
    display: flex;
    gap: 100px;
    flex-direction: column;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

.checkMark {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent);
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid var(--accent);
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 30px clamp(2vw, 6vw, 9vw);
    padding-bottom: 0;
}

.header__title {
    color: white;
    font-family: var(--literature);
    font-size: 2rem;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}

.header__menu-list {
    width: 43%;
    display: flex;
    justify-content: space-between;
}

.header__menu-link {
    color: white;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: clamp(0.875rem, 0.5rem + 1vw, 1rem);
    transition: var(--transition);
}

.header__menu-link:hover {
    color: var(--accent);
}

.black-text-color {
    color: black;
}

.bottom-blakc {
    border-bottom: 1px solid black;
}

.second__pages {
    position: static;
}

.footer {
    padding: 0 clamp(2vw, 6vw, 9vw);
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.footer hr {
    margin: 20px 0;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu-list {
    display: flex;
    gap: 20px;
}

.footer__menu-link {
    font-size: 1.125rem;
    font-family: 'Montserrat';
    color: black;
}

.footer__menu-phone {
    display: flex;
    gap: 3px;
    flex-direction: column;
}

.footer__phone {
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 600;
}

.footer__phone-text {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    color: var(--dark-accent);
}

.footer__inner {
    display: flex;
}

.footer__inner-list {
    display: flex;
    gap: 20px;
}

.footer__inner-item {
    font-family: "Montserrat";
    font-size: 1.25rem;
}

@media (min-width: 320px) and (max-width:768px) {
    .main {
        gap: 30px;
    }

    .training__img {
        width: 100%;
    }

    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .services {
        gap: 30px;
    }

    .services__card {
        height: 100%;
    }

    section {
        padding: 0 20px;
    }

    .header__menu {
        padding-bottom: 20px;
    }

    .header__title {
        font-size: 1.8rem;
    }

    .header__menu-list {
        display: none;
    }

    .footer {
        flex-direction: column;
        padding: 0 20px;
    }

    .footer__inner-item {
        font-size: 1rem;
    }

    .footer__menu-phone {
        width: 100%;
    }

    .footer ul {
        flex-direction: column;
    }

    .footer__menu {
        flex-direction: column;
    }

    .footer__menu-list {
        display: none;
    }
}

@media (min-width: 768px) and (max-width:976px) {
    .header__menu-list {
        width: auto;
        gap: 30px;
    }
}